---
---

<nav class="flex gap-8 text-lg md:gap-10 md:text-xl">
  <a href="/" class="flex-grow">Home</a>
  <a href="/about/">Work</a>
  <a href="/blog/">Writing</a>
  <a href="/tags">Contact</a>
</nav>
